.about-container {
    width: 100%;
    display: block;
    padding: 0 15px;
}

.about-container__image {
    width: 100%;
}

.about-container__text-container {
    width: 100%;
}

.about-container__text-container strong {
    text-transform: lowercase;
    font: 17px/14px "Arvo";
}

.about-container__text-container a {
    text-decoration: underline;
}

.about-container__icons {
    display: inline;
}

.about-container__icon {
    padding: 0 15px;
}

.about-container__icon:hover {
    height: 30px;
    position: relative;
    width: 100%;
    display: table-cell;
}

.about-container__icons-container {
    display: table;
    margin: 20px auto;
}

.about-container__instagram {
    border: 1px solid #d9d9d9;
}

.about-container__instagram a:hover {
    background-color: transparent;
}

@media (min-width: 767px) {

    .about-container {
        width: 100%;
        display: inline-flex;
    }
    
    .about-container__image {
        width: 50%;
    }
    
    .about-container__text-container {
        margin-left: 5%;
        width: 50%;
    }

    .about-container__instagram .instagram-post__item {
        width: calc(33% - 10px);
    }
}

@media (min-width: 1280px) {
    .about-container__instagram .instagram-post__item {
        width: calc(25% - 10px);
    }
}