.recipe-page {
    margin: 10px 0 40px;
}

.recipe-page__main-title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.5px;
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
    color: #000;
}

.recipe-page__container {
    margin-top: 15px;
}

.recipe-page__category {
    text-transform: uppercase;
    color: #a09097;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.recipe-page__title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 18px;
    color: #000;
}
.recipe-page__title a {
    color: #000;
}

@media (min-width: 767px) {
    .recipe-page__container {
        margin-top: 25px;
        column-count: 2;
    }
}